version: "3.9"

services:
  app:
    build:
      dockerfile: Dockerfile
    container_name: RoomBooking
    ports:
      - "5286:8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DefaultConnection: >
        Host=${DB_HOST};
        Port=${DB_PORT};
        Username=${DB_USER};
        Password=${DB_PASS};
        Database=${DB_NAME}
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
