# .github/workflows/ci-cd.yml
name: ci-cd


on:
  push:
    branches:
      - main

  # pull_request:
  #   branches:
  #     - main

#comment just to see if this work 6

jobs:
  CI:
    uses: ./.github/workflows/ci.yml
  CD:
    uses: ./.github/workflows/cd.yml