# .github/workflows/ci-cd.yml
name: ci-cd


on:
  push:
    branches:
      - main

  # pull_request:
  #   branches:
  #     - main

#comment just to see if this work 3

jobs:
  CI:
    uses: ./.github/workflows/ci-format.yml
    uses: ./.github/workflows/ci-tests.yml
    