# .github/workflows/ci-format.yml

name: format

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - run: dotnet restore
      - run: dotnet format --verify-no-changes

